* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;

  width: 1024px;
  height: 100vh;

  margin: auto;

  background-color: #f8f9fa;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 24px;

  height: 64px;
}
header > h1 {
  font-size: 24px;
}

section.header__menu-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 172px;
  height: 40px;
}

section.header__menu-section > img {
  width: 24px;
  height: 24px;

  margin-right: 8px;
}

section.header__menu-section > button {
  width: 100px;
  height: 32px;

  border: 1px solid #212529;
  border-radius: 20px;

  color: #212529;
  background-color: #ffffff;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
}

section.header__menu-section > button:hover {
  color: #ffffff;
  background-color: #212529;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin-top: 24px;

  width: 270px;
  height: 48px;

  font-size: 18px;

  color: #212529;
}

nav > div {
  display: flex;
  align-items: center;

  cursor: pointer;
}

nav > div > span {
  font-size: 18px;
  font-weight: 600;
}

img.nav__icon {
  width: 24px;
  height: 24px;

  padding-left: 8px;
  padding-right: 8px;
}

.nav__dropdown {
  width: 68px;
  height: 32px;

  background-color: #ffffff;

  border: 0;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 4px;

  font-size: 0.875rem;
  font-weight: 600;

  cursor: pointer;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  gap: 8px;

  margin-top: 140px;
  margin-left: 185px;

  width: 68px;
  height: auto;

  background-color: #ffffff;

  border-bottom: 1px solid #868e96;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 4px;

  font-size: 0.875rem;
  font-weight: 600;

  z-index: 1;
}

.dropdown-list > .list {
  color: #868e96;
}

.selected {
  color: #212529;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  margin-top: 32px;
  padding-bottom: 32px;
}

article.article__card {
  width: 320px;
  height: 377px;

  border-radius: 4px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;

  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;

  cursor: pointer;
}

article.article__card:hover {
  transform: translateY(-8px);
  box-shadow: rgb(0 0 0 / 8%) 0px 12px 20px 0px;
}

div.article__img-wrapper {
  width: 320px;
  height: 167px;
  overflow: hidden;

  border-radius: 4px 4px 0px 0px;
}

img.article__img {
  width: 320px;
  position: relative;
  bottom: 85px;
}

div.article__text-wrapper {
  padding: 16px;
}

.article__text-wrapper > h2 {
  margin-bottom: 4px;

  font-size: 16px;
}

.article__text-wrapper > p.article__text-content {
  margin-bottom: 24px;
  height: 63px;

  font-size: 14px;
}

.article__text-wrapper > span {
  font-size: 12px;
  color: #868e96;
}

.article__detail-info {
  display: flex;
  justify-content: space-between;

  padding: 10px 16px;

  border-top: 1px solid #f1f3f5;

  font-size: 12px;
}

.article__writer-info {
  display: flex;
  align-items: center;
}

.article__writer-info > img {
  width: 24px;
  height: 24px;

  margin-right: 8px;

  border-radius: 20px;
}

.article__writer-info > span {
  color: #868e96;
}

.article__writer-info > span > b {
  color: #212529;
}

.article__like {
  display: flex;
  align-items: center;
}

.article__like > img {
  width: 12px;

  margin-right: 8px;
}

.hidden {
  display: none;
  width: 0;
}
